# Remove the previous line if you edit this file
# Default file not changed, just nicked.

# Export all names
exportPattern(".")

# Import all packages listed as Imports or Depends
import(
  MASS
)

importFrom("stats", "dcauchy", "dnorm", "integrate", "mad", "median",
             "pnorm", "rexp", "runif")
